
<div class="container body">
	<div class="main_container">

		<!-- page content -->
		<div class="right_col" role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Add new book</h3>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- Giang -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="x_content">
									<br />
									<form id="demo-form2" data-parsley-validate ng-submit="AddBook()" novalidate
										class="form-horizontal form-label-left">

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="title">Title <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="title" ng-model="book.title" required="required"
													class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="title">Image <span class="required">*</span>
											</label>
											<div class="btn-group col-md-6 col-sm-6 col-xs-12">
												<img src="images/picture.jpg"> <input type="file"
													data-role="magic-overlay" data-target="#pictureBtn"
													data-edit="insertImage" style="padding-top: 3px" />
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="author"> Author <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="author"  ng-model="book.author"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="publish"> Year of publish <span
												class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="publish" ng-model="book.publish"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="isbn"> ISBN <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="number" id="isbn" ng-model="book.isbn"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label for="middle-name"
												class="control-label col-md-3 col-sm-3 col-xs-12">Category</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input id="category"
													class="form-control col-md-7 col-xs-12" type="text" ng-model="book.category"
													>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Publisher
												<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input id="publisher"
													class="date-picker form-control col-md-7 col-xs-12" ng-model="book.publisher"
													required="required" type="text">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="amount">Amount <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="number" id="amount"  ng-model="book.amount"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="importance">Importance <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="importance"  ng-model="book.importance"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="textarea">Short description <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<textarea id="note" ng-model="book.note" required="required" name="textarea"
													class="form-control col-md-7 col-xs-12"></textarea>
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<a href="#/booksManage"><button class="btn btn-primary" type="button">Cancel</button> </a>
												<button class="btn btn-primary" type="reset">Reset</button>
												<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" >Add book</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Giang -->

				<!-- /page content -->


			</div>
		</div>

	</div>
</div>