<div class="container body">
	<div class="main_container">
		<!-- page content -->		
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Author List</h3>
					</div>
					<div class="title_right">
						<div
							class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Search for..." ng-model="search"> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- table -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="nav navbar-right panel_toolbox">
									<a href="#/authorManage/addauthor"><button
											class="btn btn-primary" type="button">Add new</button></a>
								</div>
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<div class="table-responsive">
									<table class="table table-striped jambo_table bulk_action">
										<thead>
											<tr class="headings">
												<th><input type="checkbox" id="check-all" class="flat">
												</th>
												<th class="column-title" ng-click="orderByMe('authorId')">Author Id</th>
												<th class="column-title" ng-click="orderByMe('authorName')">Full Name</th>
												<th class="column-title">Birthday</th>
												<th class="column-title">Country</th>
												<th class="column-title no-link last"><span
													class="nobr">Action</span></th>
												<th class="bulk-actions" colspan="7"><a class="antoo"
													style="color: #fff; font-weight: 500;">Bulk Actions ( <span
														class="action-cnt"> </span> ) <i
														class="fa fa-chevron-down"></i></a></th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer" ng-repeat="author in authors | filter : search | orderBy:myOrderBy">
												<td class="a-center "><input type="checkbox"
													class="flat" name="table_records"></td>
												<td class="">{{author.authorId}}</td>
												<td class=" ">{{author.authorName}}</td>
												<td class=" ">Birthday</td>
												<td class=" ">Country</td>
												<td class=" last"><a href="#/authorManage/updateauthor/{{author.authorId}}"><button class="btn btn-info" type="button">Update</button></a>
													<button data-toggle="modal" data-target="#myModalDelete-{{author.authorId}}" class="btn btn-danger" type="button">Delete</button>
													<!-- modal -->
													<div class="modal fade" id="myModalDelete-{{author.authorId}}" role="dialog">
														<div class="modal-dialog">
													
															<!-- Modal content-->
															<div class="modal-content">
																<div class="modal-header">
																	<h3 align="center">
																		Delete!
																	</h3>
																</div>
																<div class="modal-body">
																	<h2>Are you sure?</h2>
																</div>
																<div class="modal-footer">
																	<button type="submit" class="btn btn-default pull-left"
																		data-dismiss="modal"> Cancel
																	</button>
																	<button type="submit" class="btn btn-danger btn-default pull-right" ng-click="removeAuthor(author.authorId)">
																		<span class="glyphicon glyphicon-remove"></span> OK
																	</button>
																</div>
															</div>
														</div>
													</div>
													<!-- /modal -->
												</td>
											</tr>
										</tbody>
									</table>
								</div>	
								<div class="form-group" ng-show="pagingShow">
									<div class="col-xs-12 col-md-offset-5">										
										<ul class="pagination pagination">
											<li ng-click="desPaging(currentPage)">
										      <a class="btn" aria-label="Previous">
										        <span aria-hidden="true">&laquo;</span>
										      </a>
										    </li>
										    <li ng-model="page"><a class="btn" >{{currentPage}}/{{totalPages}}</a></li>								  
											<li ng-click="incPaging(currentPage)">
										      <a class="btn" aria-label="Next">
										        <span aria-hidden="true">&raquo;</span>
										      </a>
										    </li>
										</ul>													
									</div>
								</div>							    
							</div>
						</div>						
					</div>
				</div>
				<!-- /page content -->

			</div>
		</div>	
</div>
