
<div class="container body">
	<div class="main_container">
		<!-- page content -->
		<div class="right_col" role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Book List</h3>
					</div>
					<div class="title_right">
						<div
							class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Search for..."> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button">Go!</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- table -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<!-- <ul class="nav navbar-right panel_toolbox">                      
                      <li><a href="add_book.html"><button class="btn btn-primary">Add new</button></a></li>
                      <li><a><button class="btn btn-danger" type="button">Delete</button></a></li>
                    </ul> -->
								<div class="nav navbar-right panel_toolbox">
									<a href="#/booksManage/addbook"><button
											class="btn btn-primary" type="button">Add new</button></a>
									<button class="btn btn-danger" type="button">Delete</button>
								</div>
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<div class="table-responsive">
									<table class="table table-striped jambo_table bulk_action">
										<thead>
											<tr class="headings">
												<th><input type="checkbox" id="check-all" class="flat">
												</th>
												<th class="column-title"  ng-click="orderByMe('isbn')">ISBN</th>
												<th class="column-title"  ng-click="orderByMe('title')">Title</th>
												<th class="column-title"  ng-click="orderByMe('publishingYear')">Publisher</th>
												<th class="column-title"  ng-click="orderByMe('importance')">Importance</th>
												<th class="column-title"  ng-click="orderByMe('amount')">Amount</th>
												<th class="column-title"  ng-click="orderByMe('author')">Borrow Number</th>
												
												<th class="column-title no-link last"><span
													class="nobr">Action</span></th>
												<th class="bulk-actions" colspan="7"><a class="antoo"
													style="color: #fff; font-weight: 500;">Bulk Actions ( <span
														class="action-cnt"> </span> ) <i
														class="fa fa-chevron-down"></i></a></th>
											</tr>
										</thead>
										<tbody>
											<tr class="even pointer" ng-repeat="book in books | filter : text_filter | orderBy:myOrderBy">
												<td class="a-center "><input type="checkbox"
													class="flat" name="table_records"></td>
												<td >{{book.isbn}}</td>
												<td >{{book.title}}</td>
												<td >{{book.publishingYear}}</td>
												<td >{{book.importance}} </td>
												<td class="a-right a-right ">{{book.amount}}</td>
												<td >{{book.brwTcktNber}} </td>
												
												
												<td class=" last"><a href="#/booksManage/updatebook">Update</a>
												</td>
											</tr>

										</tbody>
									</table>
								</div>


							</div>
						</div>
					</div>
				</div>
				<!-- table -->

				<!-- /page content -->


			</div>
		</div>

	</div>
</div>
