
<div class="container body">
	<div class="main_container">

		<!-- page content -->
		<div class="right_col" role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Borrow ticket management</h3>
					</div>
					<div class="title_right">
						<div
							class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Search for..."> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button">Go!</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- Giang -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<!-- <ul class="nav navbar-right panel_toolbox">                      
                      <li><a href="add_book.html"><button class="btn btn-primary">Add new</button></a></li>
                      <li><a><button class="btn btn-danger" type="button">Delete</button></a></li>
                    </ul> -->
								<!-- <div class="nav navbar-right panel_toolbox">
                      <a href="add_book.html"><button class="btn btn-primary" type="button">Add new</button></a>
                      <button class="btn btn-danger" type="button">Delete</button>
                    </div>   -->
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<div class="table-responsive">
									<table class="table table-striped jambo_table bulk_action">
										<thead>
											<tr class="headings">
												<th class="column-title">Ticket Number</th>
												<th class="column-title">Borrower</th>
												<th class="column-title">Amount</th>
												<th class="column-title">Borrowed date</th>
												<th class="column-title">Expired date</th>
												<th class="column-title">Limit</th>
												<th class="column-title no-link last"><span
													class="nobr">Action</span></th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer">

												<td class="">121000040</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000210 <i
													class="success fa fa-long-arrow-up"></i></td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$7.45</td>
												<td class=" last"><a href="#/borrowBook/ticketDetail">View</a>
												</td>
											</tr>
											<tr class="odd pointer">

												<td class="">121000040</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000208 <i
													class="success fa fa-long-arrow-up"></i>
												</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$741.20</td>
												<td class=" last"><a href="ticket_detail.html">View</a>
												</td>
											</tr>
											<tr class="even pointer">

												<td class="">121000040</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000203 <i
													class="success fa fa-long-arrow-up"></i>
												</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$432.26</td>
												<td class=" last"><a href="ticket_detail.html">View</a>
												</td>
											</tr>
											<tr class="odd pointer">

												<td class=" ">121000037</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000204</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$333.21</td>
												<td class=" last"><a href="ticket_detail.html">View</a>
												</td>
											</tr>
											<tr class="even pointer">
												<td class=" ">121000040</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000210</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$7.45</td>
												<td class=" last"><a href="ticket_detail.html">View</a>
												</td>
											</tr>
											<tr class="odd pointer">

												<td class=" ">121000039</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000208 <i
													class="error fa fa-long-arrow-down"></i>
												</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$741.20</td>
												<td class=" last"><a href="ticket_detail.html">View</a>
												</td>
											</tr>
											<tr class="even pointer">

												<td class=" ">121000038</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000203</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$432.26</td>
												<td class=" last"><a href="ticket_detail.html">View</a>
												</td>
											</tr>
											<tr class="odd pointer">

												<td class=" ">121000037</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000204</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$333.21</td>
												<td class=" last"><a href="ticket_detail.html">View</a>
												</td>
											</tr>

											<tr class="even pointer">

												<td class=" ">121000040</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000210</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$7.45</td>
												<td class=" last"><a href="#/ticketsManage">View</a>
												</td>
											</tr>
											<tr class="odd pointer">

												<td class=" ">121000039</td>
												<td class=" ">Java Programming</td>
												<td class=" ">121000208</td>
												<td class=" ">Medium</td>
												<td class=" ">1</td>
												<td class="a-right a-right ">$741.20</td>
												<td class=" last"><a href="#/ticketsManage">View</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>


							</div>
						</div>
					</div>
				</div>
				<!-- Giang -->

				<!-- /page content -->


			</div>
		</div>
	</div>
</div>