<!--
<link href="/LMS/css/admin/skins/flat/green.css" rel="stylesheet">
<script src="/LMS/js/lib/admin/custom.min.js"></script>
-->
<div class="container body">
	<div class="main_container">

		<!-- page content -->
		<div class="right_col" role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Category Management</h3>
					</div>

					<div class="title_right">
						<div
							class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Search for..."> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="nav navbar-right panel_toolbox">
									<a href="#/categoryManage/addcategory"><button
											class="btn btn-primary" type="button">Add new</button></a>
									<button class="btn btn-danger" type="button">Delete</button>
								</div>
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<div class="table-responsive">
									<table class="table table-striped jambo_table bulk_action">
										<thead>
											<tr class="headings">
												<th><input type="checkbox" id="check-all" class="flat">
												</th>
												<th class="column-title" ng-click="orderByMe('categoryId')">Category code</th>
												<th class="column-title" ng-click="orderByMe('categoryName')" >Category name</th>
												<th class="column-title">Description</th>
												<th class="column-title no-link last"><span
													class="nobr">Action</span></th>
											</tr>
										</thead>
										<tbody>
											<tr class="even pointer" ng-repeat="category in categories | filter : text_filter | orderBy:myOrderBy">
												<td class="a-center "><input type="checkbox"
													class="flat" name="table_records"></td>
												<td class="">{{category.categoryId}}</td>
												<td class=" ">{{category.categoryName}}</td>
												<td class=" ">{{category.categoryDescription}}</td>
												<td class=" last"><a
													href="#/categoryManage/updatecategory">Update</a></td>

										</tbody>
									</table>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->
	</div>
</div>
