
<div class="container body">
	<div class="main_container">


		<!-- page content -->		
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Update book</h3>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="x_content">
									<br />
									<form id="update_book_form" ng-submit="updateBook()" action="#/booksManage"
										novalidate class="form-horizontal form-label-left">

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="title">Title <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="title" ng-model="updatebook.title"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="title">Image <span class="required">*</span>
											</label>
											<div class="btn-group col-md-6 col-sm-6 col-xs-12">
												<img src="{{imageUpdate}}" height="200px">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="author"> Author <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select size="6" ng-model="authorData.model" multiple
													class="form-control col-md-7 col-xs-12">
													<option ng-repeat="option in authorData.availableOptions"
														ng-value="option.value">{{option.name}}</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="publishYear"> Year of publish <span
												class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="publishYear"
													ng-model="updatebook.publishingYear" required="required"
													class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="isbn"> ISBN <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<!-- <input id="isbn" ng-model="updatebook.isbn" ng-disabled="true"
													required="required" class="form-control col-md-7 col-xs-12"> -->
												<input ng-disabled="true" name="myCheck" type="text" id="isbn" ng-model="updatebook.isbn"
													required="required" class="form-control col-md-7 col-xs-12" check-isbn1
													placeholder="Enter a ISBN number">
											</div>
										</div>
										<div class="form-group">
											<label for="middle-name"
												class="control-label col-md-3 col-sm-3 col-xs-12">Category</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select ng-model="categoryData.model"
													class="form-control col-md-7 col-xs-12">
													<option
														ng-repeat="category in categoryData.availableOptions"
														ng-selected="{{category.id == updatebook.bookCategoryDetail.categoryId}}"
														value="{{category.id}}">{{category.name}}</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Publisher
												<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select ng-model="publisherData.model" class="form-control col-md-7 col-xs-12">
													<option
														ng-repeat="publisher in publishers"
														value="{{publisher.publisherId}}">{{publisher.publisherName}}</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="amount">Amount <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="number" id="amount" ng-model="updatebook.amount"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="importance">Importance <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="importance"
													ng-model="updatebook.importance" required="required"
													class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="textarea">Short description <span
												class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<textarea id="note" ng-model="updatebook.shortDescription" required="required"
													name="textarea" class="form-control col-md-7 col-xs-12"></textarea>
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<a href="#/booksManage"><button class="btn btn-primary"
														type="button">Cancel</button> </a>
												<button class="btn btn-primary" type="reset">Reset</button>
												<button type="submit" class="btn btn-success"
													ng-disabled="myForm.$invalid">Update</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- /page content -->


			</div>
		</div>	
</div>
