
<div class="container body">
	<div class="main_container">

		<!-- page content -->		
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Update author</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="x_content">
									<br />
									<form id="demo-form" data-parsley-validate
										class="form-horizontal form-label-left" name="myForm" action="#/authorManage" ng-submit="EditAuthor()" novalidate>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="full-name"> Full Name <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="full-name" ng-model="name" required="required"
													class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="birthday"> Birthday <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="birthday" name="birthday"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="country"> Country <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="country" name="country"
													required="required" class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<a href="#/authorManage"><button class="btn btn-primary" type="button">Cancel</button></a>
												<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">Update</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- /page content -->


			</div>
		</div>
	
</div>
