
<div class="container body">
	<div class="main_container">

		<!-- page content -->
		<div class="right_col" role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Update Category Information</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<div class="x_content">
									<br />
									<form id="update_user_form" data-parsley-validate name="myForm" action="#/categoryManage"
										class="form-horizontal form-label-left" ng-submit="EditCategory()" novalidate>

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="category-name">Category name <span
												class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="category-name" name="name" ng-model="name" required="required"
													class="form-control col-md-7 col-xs-12">
											</div>
											<span
												ng-show="myForm.name.$dirty && myForm.name.$error.required"
												class="help-block">Category's name is required</span>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="description">Description <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="description" ng-model="description" required="required"
													class="form-control col-md-7 col-xs-12">
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<a href="#/userManage"><button class="btn btn-primary" type="button">Cancel</button></a>
												<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">Update</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /page content -->


			</div>
		</div>

	</div>
</div>