
<div class="container body">
	<div class="main_container">
		<div id="book" class="row list-group">
			<div class="item  col-xs-12 col-lg-12">
				<div class="thumbnail">
					<img class="group list-group-image"
						src="/LMS/images/BOOKS/{{isbn}}.jpg" alt="" />
					<div class="caption">
						<h4 class="group inner list-group-item-heading">{{title}}</h4>
						<p class="group inner list-group-item-text">
							{{shortDescription}}</p>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<p class="lead">{{amount}}</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add
									to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>