<div class="container body">
	<div class="main_container">
		<div class="item  col-xs-12 col-lg-12 main-center">
			<div class="col-md-5 col-sm-3 col-xs-12 profile_left">
				<div style="padding-left: 70px">					
					<img style="height:350px;width:300px;" src="/LMS/images/BOOKS/{{bookDetail.isbn}}.jpg" alt="image"/>					
				</div>
			</div>
			<div class="col-md-7 col-sm-9 col-xs-12">
				<div class="caption">
					<h2 class="group inner list-group-item-heading"><strong>{{bookDetail.title}}</strong></h2>					
				</div>
				<div>
				<br>
					<p><span class="glyphicon glyphicon-user"></span>Author: &nbsp
						<font ng-repeat="author in bookDetail.authorDetails">
									{{author.authorName}}
						</font>					
					</p>
					<p><span class="glyphicon glyphicon-barcode"></span>ISBN: &nbsp {{bookDetail.isbn}}</p>
					<p><span class="glyphicon glyphicon-duplicate"></span>Available: &nbsp {{bookDetail.amount-bookDetail.brwTcktNber}}</p>
					<p><span class="glyphicon glyphicon-book"></span>Amount: &nbsp {{bookDetail.amount}}</p>
					<p><span class="glyphicon glyphicon-certificate"></span>Importance: &nbsp {{bookDetail.importance}}</p>
					<p><span class="glyphicon glyphicon-calendar"></span>Publishing year: &nbsp {{bookDetail.publishingYear}}</p>
					<p><span class="glyphicon glyphicon-list-alt"></span>Category: &nbsp {{bookDetail.bookCategoryDetail.categoryName}}</p>
					<br>
					<a class="btn btn-success" ng-click="addCart(bookDetail)"><font style="font-size: 20px;">Add to cart</font></a>
				</div>				
			</div>
			<div class="col-xs-12 col-md-12">
			<br><br>
				<h3 style="margin-bottom: 3pxj; font-weight: bold;">Description </h3>
				<hr style="margin-top: 1px"/>				
				
				<p><strong><font style="font-size: 20px; color: red;">{{bookDetail.title}}</font></strong></p>				
				
				<p>{{bookDetail.shortDescription}}</p>
				<hr/>
				<br>
			</div>													
		</div>
		<!-- Book ralation -->
		
		<div class="item  col-xs-3 col-lg-3"		
			ng-repeat="book in bookRelation.books |limitTo:4 |orderBy:random">
			<div class="thumbnail" style="padding-top: 18px">
				<a href="#/book/bookdetail/{{book.isbn}}"><img
					style="height: 278px; width: 220px" src="/LMS/images/BOOKS/{{book.isbn}}.jpg"
					alt="image" /></a>
				<div class="caption">
					<p class="group inner list-group-item-heading" align="center">
						{{book.title}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

