<div class="container">	
<h2 align="center">Your Cart</h2>
		<table class="table table-striped jambo_table bulk_action">
			<thead>
				<tr class="headings">
					<th class="column-title">ISBN</th>
					<th class="column-title">Books</th>
					<th class="column-title">Valuable</th>
					<th class="column-title">Amount</th>
					<th class="column-title">Delete</th>												
				</tr>
			</thead>
			<tbody>
				<tr class="even pointer">
	
					<td class="">121000040</td>
					<td class=" ">Java Programming</td>
					<td class=" ">121000210 <i
						class="success fa fa-long-arrow-up"></i></td>
					<td>
						<i class="glyphicon glyphicon-minus btn btn-sm btn-warning"></i>						
                        &nbsp 1 &nbsp
                        <i class="glyphicon glyphicon-plus btn btn-sm btn-success"></i>
                    </td>
					<td><i class="glyphicon glyphicon-trash btn btn-danger"></i></td>								
				</tr>
				<tr class="odd pointer">
	
					<td class="">121000040</td>
					<td class=" ">Java Programming</td>
					<td class=" ">121000208 <i
						class="success fa fa-long-arrow-up"></i>
					</td>
					<td>
						<i class="glyphicon glyphicon-minus btn btn-sm btn-warning"></i>						
                        &nbsp 1 &nbsp
                        <i class="glyphicon glyphicon-plus btn btn-sm btn-success"></i>
                    </td>
					<td><i class="glyphicon glyphicon-trash btn btn-danger"></i></td>				
				</tr>
				<tr class="even pointer">
	
					<td class="">121000040</td>
					<td class=" ">Java Programming</td>
					<td class=" ">121000203 <i
						class="success fa fa-long-arrow-up"></i>
					</td>
					<td>
						<i class="glyphicon glyphicon-minus btn btn-sm btn-warning"></i>						
                         &nbsp 1 &nbsp 
                        <i class="glyphicon glyphicon-plus btn btn-sm btn-success"></i>
                    </td>
					<td><i class="glyphicon glyphicon-trash btn btn-danger"></i></td>							
				</tr>											
			</tbody>			
		</table>	
		<div align="center">
			<button type="submit" class="btn btn-primary">Register borrow books</button>
			&nbsp 
			<button type="cancel" class="btn btn-danger">Cancel ticket</button>
		</di>
		<div align="right">Remaining tickets: 3</div>		
</div>