
<div class="container">

	<h2 align="center">Your Cart</h2>
	<form ng-submit="AddTicket()" novalidate>
		<table class="table table-striped jambo_table bulk_action">
			<thead>
				<tr class="headings">
					<th class="column-title" ng-click="orderByMe('isbn')">ISBN</th>
					<th class="column-title" ng-click="orderByMe('title')">Books</th>
					<th class="column-title">Available</th>
					<th class="column-title">Quantity</th>
					<th class="column-title">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr class="even pointer" class="item  col-xs-3 col-lg-3"
					ng-repeat="book in bookCarts |orderBy:'isbn'">
					{{book}}
					<td class="">{{book.isbn}}</td>
					<td class=" ">{{book.title}}</td>
					<td class=" ">{{book.amount - book.brwTcktNber}}<i
						class="success fa fa-long-arrow-up"></i></td>
					<td> 1 </td>
					<td><span ng-click="removeCart(book.isbn)"><i
							class="glyphicon glyphicon-trash btn btn-danger"></i> </span></td>
				</tr>
			</tbody>
		</table>
		<div align="center">
			<button type="submit" class="btn btn-primary">Register
				borrow books</button>
			<button type="button" class="btn btn-danger"
				ng-click="cancelTicket()">Cancel ticket</button>
		</div>
		<div align="left">Date: {{userdate | date : "fullDate" }}</div>
		<div align="right">Remaining tickets: {{bookCarts.length}}</div>
	</form>
</div>