
<div class="container">
	<div class="row">
		<div class="col-sm-12 ">

			<div id="slides_control">
				<div>
					<carousel interval="myInterval"> <slide
						ng-repeat="book in books |limitTo: 4 |orderBy:'isbn'"
						active="book.active"> <a href="#book/bookdetail/{{book.isbn}}"> <img class="slideCarousel"
						ng-src="/LMS/images/BOOKS/{{book.isbn}}.jpg"> </a></slide> </carousel>
				</div>
			</div>

		</div>
	</div>
	<hr>
	<!-- show some new books -->
	<div class="container-fluid bg-3 text-center">
		<h2>New books</h2>
		<hr>
		<div class="row  list-group">
			<div class="item  col-sm-3" ng-repeat="book in books |limitTo:-8">
				<div class="thumbnail">
					<a href="#/book/bookdetail/{{book.isbn}}"><img
						class="list-image" src="/LMS/images/BOOKS/{{book.isbn}}.jpg"
						alt="image" /></a>
					<div class="caption">
						<p class="group inner list-group-item-heading" align="center">
							{{book.title}}</p>
					</div>
					<div style="position: absolute; bottom: 40px;width:80%;padding: 10px 10px 10px 10px">
						<div class="btn-group btn-group-justified">
							<a href="#book/bookdetail/{{book.isbn}}" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<h2 align="center">Category</h2>
	<hr>
	<!-- category 1 -->

	<div class="col-sm-3 ">
		<h3 align="center">{{categoryBook1.categoryName}}</h3>
		<div id="category1_control">
			<div>
				<carousel interval="myInterval"> <slide
					ng-repeat="book1 in categoryBook1.books |limitTo: 8"
					active="book1.active"> <a
					href="#/book/bookdetail/{{book1.isbn}}"> <img
					class="slideCarousel" ng-src="/LMS/images/BOOKS/{{book1.isbn}}.jpg">
				</a></slide> </carousel>
			</div>
		</div>
	</div>

	<!-- category 2 -->

	<div class="col-sm-3 ">
		<h3 align="center">{{categoryBook2.categoryName}}</h3>
		<div id="category2_control">
			<div>
				<carousel interval="myInterval"> <slide
					ng-repeat="book2 in categoryBook2.books |limitTo: 8"
					active="book2.active"> <a
					href="#/book/bookdetail/{{book2.isbn}}"><img
					class="slideCarousel" ng-src="/LMS/images/BOOKS/{{book2.isbn}}.jpg"></a>
				</slide> </carousel>
			</div>
		</div>
	</div>

	<!-- category 3 -->

	<div class="col-sm-3 ">
		<h3 align="center">{{categoryBook3.categoryName}}</h3>
		<div id="category3_control">
			<div>
				<carousel interval="myInterval"> <slide
					ng-repeat="book3 in categoryBook3.books |limitTo: 8"
					active="book3.active"> <a
					href="#/book/bookdetail/{{book3.isbn}}"> <img
					class="slideCarousel" ng-src="/LMS/images/BOOKS/{{book3.isbn}}.jpg"></a>
				</slide> </carousel>
			</div>
		</div>
	</div>


	<!-- category 4 -->

	<div class="col-sm-3 ">
		<h3 align="center">{{categoryBook4.categoryName}}</h3>
		<div id="category4_control">
			<div>
				<carousel interval="myInterval"> <slide
					ng-repeat="book4 in categoryBook4.books |limitTo: 8"
					active="book4.active"> <a
					href="#/book/bookdetail/{{book4.isbn}}"> <img
					class="slideCarousel" ng-src="/LMS/images/BOOKS/{{book4.isbn}}.jpg">
				</a> </slide> </carousel>
			</div>
		</div>
	</div>
	<hr>
	<br> <br>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 align="center">
					<span class="glyphicon glyphicon-lock"></span> LOGIN
				</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="psw"><span class="glyphicon glyphicon-user"></span>
							Username</label> <input type="text" class="form-control" id="usernamer"
							placeholder="Enter username">
					</div>
					<div class="form-group">
						<label for="usrname"><span
							class="glyphicon glyphicon-lock"></span> Password</label> <input
							type="text" class="form-control" id="password"
							placeholder="Enter password">
					</div>
					<button type="submit" class="btn btn-block">
						Login <span class="glyphicon glyphicon-ok"></span>
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-danger btn-default pull-left"
					data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
				<p>
					Need <a href="#">help?</a>
				</p>
			</div>
		</div>
	</div>
</div>