<div class="container">
	<div class="col-md-12 col-sm-12 col-xs-12">					
		<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
			<div class="profile_img">
				<div id="crop-avatar">
					<!-- Current avatar -->
					<img class="img-responsive avatar-view"
						src="images/picture.jpg" alt="Avatar"
						title="Change the avatar">
				</div>
			</div>
			<h3>Samuel Doe</h3>

			<ul class="list-unstyled user_data">
				<li>San Francisco, California, USA</li>

				<li>Software Engineer</li>

				<li class="m-top-xs"> 03/08/1998</li>
			</ul>

			<a class="btn btn-success" href="#/user">Edit Profile</a> <br />
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12">

			<!-- start of user-activity-graph -->
			<div id="graph_bar" style="width: 100%; height: 180px;">				
				<p>
					<strong>Join date:</strong> 03/08/2017
				</p>
				<p>
					<strong>Expire date:</strong> 23/08/2017
				</p>								
				<p>
					<strong>Total tickets:</strong> 12
				</p>

			</div>
			<!-- end of user-activity-graph -->
			<h3>Tickets created</h3>
				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th class="column-title">Ticket number</th>
								<th class="column-title">Books</th>																
								<th class="column-title">Borrow date</th>
								<th class="column-title">Expire date</th>
								<th class="column-title">Return date</th>
								<th class="column-title">Fines</th>								
							</tr>
						</thead>

						<tbody>
							<tr class="even pointer">

								<td class="">121000040</td>
								<td class=" ">Java Programming <br/> Technical</td>
								<td class=" ">121000210 <i
									class="success fa fa-long-arrow-up"></i></td>
								<td class=" ">Medium</td>								
								<td class=" ">1</td>
								<td class=" ">1</td>								
							</tr>
														
						</tbody>
					</table>
				</div>
			</div>				
		</div>
	</div>