<div ng-show="value" class="container">
	<div class="col-md-12 col-sm-12 col-xs-12">					
		<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
			<div class="profile_img">
				<div id="crop-avatar">
					<!-- Current avatar -->
					<img class="img-responsive avatar-view"
						src="images/picture.jpg" alt="Avatar"
						title="Change the avatar">
				</div>
			</div>
			<h3>{{userData.realName}}</h3>
			<ul class="list-unstyled user_data">
				<li>Gender: {{userData.sex}}</li>
				<li>Address: {{userData.address}}</li>
			
				<li>Job: {{userData.job}}</li>

				<li class="m-top-xs">Birth: {{userData.dayofBirth |date : "fullDate" }}</li>
			</ul>

			<a class="btn btn-success" href="#/user/updateuser/{{userData.userId}}">Edit Profile</a> <br />
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12">

			<!-- start of user-activity-graph -->
			<div id="graph_bar" style="width: 100%; height: 180px;">				
				<p>
					<strong>Status:</strong> {{userData.valid}}
				</p>								
				<p>
					<strong>Total tickets:</strong> {{userData.tickets.length}}
				</p>

			</div>
			<!-- end of user-activity-graph -->
			<h3>Tickets created</h3>
			<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th class="column-title">Ticket ID</th>																
								<th class="column-title">Date borrow</th>
								<th class="column-title">Amount</th>								
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="ticket in userData.tickets">
								<td class="">{{ticket.ticketId}}</td>
								<td class=" " >{{ticket.borrowedDate|date : "fullDate" }}</td>	
								<td class=" " >{{ticket.borrowNumber}}</td>							
							</tr>
														
						</tbody>
					</table>
				</div>
			<!-- <select ng-model="selectTicket">
				<option ng-repeat="ticket in userData.tickets"
					value="{{ticket.ticketId}}">{{ticket.ticketId}}</option></select>
					<button ng-click="showTicket()">Show</button>
				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th class="column-title">Book ISBN</th>																
								<th class="column-title">Title</th>							
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="book in bookTickets">
								<td class="">{{book.isbn}}</td>
								<td class=" " >{{book.title}}</td>							
							</tr>
														
						</tbody>
					</table>
				</div> -->
			</div>				
		</div>
	</div>